#cnv {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color:#4773D9;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
    