@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes blink {
    from {
        background-position: 0 0;
      }
      to {
        background-position: -10000px 5000px;
      }
}